.asset-section {
    box-shadow: 2px 2px 9px 2px darkgrey;
    width: 200px;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    height: 64vh;
  }
  
  .asset-section button {
    height: 35px;
    width: 150px;
    background-color: #2185d0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 10px;
  }
  
  .asset-section .free-style {
    margin-top: 100px;
  }
  .source-section {
    box-shadow: 2px 2px 9px 2px darkgrey;
    width: 100px;
    padding: 20px;
    margin-top: 300px;
    box-sizing: border-box;
    height: 20vh;
  }